<h1><%= @restaurant.name %></h1>

<h2><%= @restaurant.category %></h2>
<h2><%= @restaurant.address %></h2>
<h2><%= @restaurant.phone_number %></h2>

<% @restaurant.reviews.each do |review| %>
<p>
<%= p review.content %>
<%= p review.rating %>
<%= p 'stars' %>
<%= link_to "Remove",
                  review_path(review),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %>
</p>
<% end %>

<%= link_to 'View all restaurants', restaurants_path %>


